@model List<Restaurant.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Scripts/cart/cartController.min.js"></script>
}
@{
    Html.RenderAction("PartialHeader", "Home");
}
<section class="shopping-cart-container">
    <div class="products-container">

        <h3 class="title">your products</h3>

        <div class="box-container">
            @{
                int Total = 0;
            }
            @foreach (var item in Model)
            {
                int lineTotal = Convert.ToInt32(item.Quantity * item.Food.PriceDiscount);
                Total = Convert.ToInt32(Total + lineTotal);
                <div class="box">
                    <a href="#" data-id="@item.Food.FoodID" class="btn-delete"><i class="fas fa-times"></i></a>
                    <img src="~/Content/images/@item.Food.Image" alt="">
                    <div class="content">
                        <h3>@item.Food.FoodName</h3>
                        <span> quantity: </span>
                        <input type="number" class="qty" value="@item.Quantity" data-id="@item.Food.FoodID" />
                        <br>
                        <span> rate: </span>
                        <span class="price"> @item.Food.PriceDiscount VND</span>
                        <br>
                        <span> amount: </span>
                        <span class="price"> @lineTotal VND</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="cart-total">
        <h3 class="title"> cart total </h3>
        <div class="box">
                @*<h3 class="subtotal"> subtotal : <span>$200</span> </h3>*@
            <h3 class="total"> total : <span></span>@Total VND</h3>
                <a href="#" class="btn" id="btn-payment">proceed to checkout</a>
            </div>
    </div>
    <br />
    @*<div class="heading">*@
        <a href="/category"><h2><i class="fa-thin fa-angles-left">Back</i></h2></a>
    @*</div>*@ 
</section>
