
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="shopping-cart-container">

    <div class="products-container">

        <h3 class="title">your products</h3>

        <div class="box-container">
            @{
                int Total = 0;
            }
            @foreach (var item in Model)
            {
                int lineTotal = Convert.ToInt32(item.Quantity * item.Food.PriceDiscount);
                Total = Convert.ToInt32(Total + lineTotal);
                <div class="box">
                    <a href="#" data-id="@item.Food.FoodID" class="btn-delete"><i class="fas fa-times"></i></a>
                    <img src="~/Content/images/@item.Food.Image" alt="">
                    <div class="content">
                        <h3>@item.Food.FoodName</h3>
                        <span> quantity: </span>
                        <span>@item.Quantity</span>
                        <br>
                        <span> rate: </span>
                        <span class="price"> @item.Food.PriceDiscount VND</span>
                        <br>
                        <span> amount: </span>
                        <span class="price"> @lineTotal VND</span>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="cart-total">

        <h3 class="title"> cart total </h3>

        <div class="box">
            @*<h3 class="subtotal"> subtotal : <span>$200</span> </h3>*@
            <h3 class="total"> total : <span></span>@Total VND</h3>
            @*<a href="#" class="btn" id="btn-payment">proceed to checkout</a>*@
        </div>
    </div>

    <div class="section group">
        <div class="col-md-6">
            @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
            {
                <div class="form-group">
                    <label>Name:</label>
                    <input name="ShipName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input name="ShipPhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input name="ShipAddress" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input name="ShipEmail" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Total</label>
                    <input name="Total"class="form-control" value="@Total"/>
                </div>
                <button type="submit" class="btn">Confirm</button>
            }
        </div>
    </div>
</section>

