@model Restaurant.Models.Food

@{
    Html.RenderAction("PartialHeader", "Home");
}
<div>
    <div class="heading left" id="details-left">
        <img width="400" height="400" src="@("/Content/images/"+Model.Image)" asp-append-version="true" />
        <span>@Model.Description</span>
    </div>
    <div class="heading right" id="details-right">
        <span>@Model.FoodName</span>
        <br />
        <span>@Model.Price VND</span>
        <br />
        <a href="/Cart/AddItem?foodid=@Model.FoodID&quantity=1" class="btn">add to cart</a>
    </div>
    
</div>
    @*<p><img width="300" height="300" src="@("/Content/images/"+Model.Image)" asp-append-version="true" /></p>
        <div>
            <p>@Model.CateId</p>
            <p>@Model.Description</p>
            <p>@Model.Price</p>
        </div>*@
